body {
  font-family: sans-serif;
  text-align: center;
  padding-top: 100px;
}

button {
  font-size: 20px;
  padding: 15px 30px;
  cursor: pointer;
}

#result {
  margin-top: 30px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
